@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}
.project-card {
  width: 100%;
  height: 40vw;
  max-height: 450px;
  min-height: 260px;
  position: relative;
  border-radius: 35px;
}
.project-image {
  position: absolute;
  inset: 16% 0 10%;
}
.project-header {
  margin: 21px 0 0 30px;
}
.project-header h4 {
  font-size: clamp(20px, calc(1vw + 10px), 24px);
  font-weight: 600;
  line-height: 1;
}
.project-card:hover {
  @include transform(scale(1.05));
  filter: drop-shadow(2px 4px 6px black);
}
.project-card a {
  text-decoration: none;
  color: unset;
}
.project-card a::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.project-header p {
  color: #ffffffb2;
}
.project-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 947px) {
  .project-image {
    inset: 21% 0 8%;
  }
  .project-card {
    min-height: 260px;
    border-radius: 20px;
  }
  .project-header {
    margin: 13px 0 0 17px;
  }
}
