.contact-info button {
  background-color: var(--buttons);
  padding: 15px 25px;
  border: transparent;
  border-radius: 40px;
}

.contact-info a {
  color: var(--text);
  text-decoration: none;
  font-size: clamp(24px, 16px + 1vw, 36px);
  font-family: "Crimson Text", serif;
}
