.button {
  background-color: var(--buttons);
  padding: 15px 25px;
  border: transparent;
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 13px;
}

.button a {
  color: var(--text);
  text-decoration: none;
  font-size: clamp(24px, 16px + 1vw, 36px);
  font-family: "Crimson Text", serif;
}
