.about-content{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.bio{
    // flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.bio-text{
    font-size: 36px;
}
.profile{
    display: flex;
    flex-direction: column;
    position: relative;
    // flex: 30%;
}
.profile-picture{
    width: 443px;
    height: 448px;
    margin-bottom: 6rem;

}
.profile-picture img{
    width: 100%;
    object-fit: contain;
}
