:root{
  --Background: #282834;
  --Background2: #bb58ff;
  --Icon1: #3E0069;
  --Icon2: #dc10c8;
  --buttons: #D53CA0;
  --text: #fff;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  background-color: var(--Background);
  color: var(--text);
  font-family: 'Crimson Text', serif;
}
.main-container{
padding-top: 60px;
min-height: 100vh;
margin: 0 auto;
}
h2{
font-size: 96px;
font-weight: 700;
}
h3{
  font-size: 80px;
  font-weight: 600;
  margin-bottom: 60px;
}
.content{
  padding: 120px 0;
}
section{
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}
hr{
  height: 1px;
  border: none;
  background: linear-gradient(var(--Icon1) 0%, var(--Icon2) 100%);}

.contact-info{
  display: flex;
  flex-direction: column;  
  gap: 2rem;
}

.contact-info button{
  background-color: var(--buttons);
  padding: 15px 5px;
  border: transparent;
  border-radius: 40px;
  width: 95%;
  margin: 0 auto;
}

.contact-info a{
  color: var(--text);
  text-decoration: none;
  font-size: 36px;
  font-family: 'Crimson Text', serif;
}