:root {
  --Background: #282834;
  --Background2: #bb58ff;
  --Icon1: #3e0069;
  --Icon2: #dc10c8;
  --buttons: #d53ca0;
  --text: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background-color: var(--Background);
  color: var(--text);
  font-family: "Crimson Text", serif;
}

h2 {
  font-size: clamp(48px, calc(28px + 4vw), 96px);
  font-weight: 700;
  margin-bottom: 6rem;
}
h3 {
  font-size: clamp(36px, 24px + 3vw, 80px);
  font-weight: 600;
  margin-bottom: 60px;
}
.content {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}
section {
  padding: 120px 0;
  position: relative;
}
hr {
  height: 1px;
  border: none;
  background: linear-gradient(var(--Icon1) 0%, var(--Icon2) 100%);
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.contact-info button {
  background-color: var(--buttons);
  padding: 15px 25px;
  border: transparent;
  border-radius: 40px;
}

.contact-info a {
  color: var(--text);
  text-decoration: none;
  font-size: clamp(24px, 16px + 1vw, 36px);
  font-family: "Crimson Text", serif;
}
