.education-back{
    position: absolute;
    width: 452px;
    right: 0;
}
.education-back img{
    object-fit: contain;
    width: 100%;
}
.education-content{
    display: flex;
    justify-content: space-between;
}
.education ul, .skills ul{
    display: flex;
    flex-direction: column;
    gap: 62px;
}
.education li{
    list-style: none;
    font-size: 36px;
    position: relative;
}
.education li:not(:last-child):after{
    content: "";
    background: #fff;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 30px;
    top: calc(100% + 8px);    
}
.skills li{
    font-size: 36px;
    padding-left: 46px;
    position: relative;

}
.skills li::marker{
    font-size: 24px;
}
.skills li:not(:last-child):after{
    content: "";
    background: #fff;
    position: absolute;
    width: 1px;
    height: 100%;
    left: -16px;
    top: calc(100% + 8px);    
}
