.back{
    height: 50vh;
    width: 50vw;
    position: absolute;
    right: 0;
    top:0;
    z-index: -1;
    /* background: url("../public/back2x.png"); */
  }
  .back img{
    width: 100%;
    object-fit: cover;
  }
 
  .intro{
  font-family: "Crimson Text";
  font-size: 24px;}

  .contact-links li{
    list-style: none;
  }

.back_2{
  width: 777px;
  height: 630px;
  position: absolute;
  left: -551px;
}
.back_2 img{
  width: 100%;
  object-fit: contain; 
}